{
  "extends": "jquery",
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "linebreak-style": 0
  }
}
